*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: rgba(34, 60, 80, 1);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}

.search-form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-input {
  padding: 10px;
  margin-top: auto;
  font-size: 15pt;
  border-radius: 5px;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-align: center;
  background-color: rgba(34, 60, 80, 0.5);
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
  transform-origin: top;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-input:focus {
  transform: scale(1.1);
}

.arrow {
  margin-top: auto;
  color: #ffffff;
  animation: arrow-animation 3000ms ease infinite;
  transition: opacity ease 300ms, transform ease 300ms;
}

.arrow i {
  font-size: 26pt;
}

.arrow.is-hidden {
  opacity: 0;
}

.results-wrap {
  padding: 10px 25px;
}

.gallery {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

.photo-card {
  position: relative;
  cursor: pointer;
}

.photo-card:hover .stats {
  opacity: 1;
}

.gallery-photo {
  object-fit: cover;
}

.stats {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));

  opacity: 0;
  transition: opacity ease 250ms;
}

.stats-item {
  display: flex;
  align-items: center;
  margin: 0;
  color: #ffffff;
}

.material-icons {
  margin-right: 5px;
}

@keyframes arrow-animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
